{"maincourses":[
"香菇炒肉",
"茄子豆角",
"莴苣炒肉丝",
"西红柿炒蛋",
"红烧猪蹄",
"酸辣土豆丝",
"肉末茄子",
"豆腐炒肉",
"红烧牛肉",
"清蒸鲈鱼",
"芹菜炒牛肉",
"韭菜炒香干",
"爆炒腰花",
"肉末酸豆角",
"蒜薹炒肉",
"红烧猪脚",
"虾煎蛋",
"毛豆炒肉",
"红烧虾",
"粉蒸排骨",
"胡萝卜炒肉",
"榨菜肉丝",
"芹菜肉丝",
"红烧鸡爪",
"蒸水蛋",
"青椒肉丝炒杏鲍菇",
"干煸菜花",
"番茄炒蛋",
"红烧带鱼",
"家常豆腐",
"西兰花炒虾仁",
"西兰花炒牛肉",
"酱烧茄子",
"腐竹炒肉",
"香菇炒肉",
"韭菜炒鸡蛋",
"酸辣藕丁",
"番茄牛腩煲",
"干煸四季豆",
"肉末番茄烧毛豆",
"土豆烧牛肉",
"青椒炒花甲",
"玉米青豆黄瓜",
"韭菜炒蛋",
"杏鲍菇炒肉",
"番茄炖牛肉",
"黄瓜炒肉",
"干煸肉末豆角",
"香菇土豆焖鸡块",
"青辣荷包蛋",
"小炒菌菇",
"洋葱炒肉",
"大青椒炒猪腰",
"青椒炒猪润"
],
"vegetables":[
"油麦菜",
"红薯叶",
"生菜",
"芥蓝",
"菲菜黄",
"菲菜",
"豆角",
"花菜",
"no西兰花",
"芥菜",
"苦麦菜",
"南瓜苗",
"上海青",
"no空心菜",
"扁豆",
"莴笋叶",
"娃娃菜",
"茼蒿",
"雪里蕻",
"小白菜",
"苋菜",
"红薯叶"
],
"soups":[
"鲫鱼豆腐汤",
"莲藕猪骨汤",
"冬瓜汤",
"海带排骨汤",
"玉米萝卜大骨汤"
]}